*{
    outline: none!important;
}
a{
    transition: all .3s ease;
}
html{
    font-size: 15px;
}
body{
    min-width: 320px;
    position: relative;
}
.wpcf7 .ajax-loader{
    display: none;
}
.icon svg,
svg.icon{
    width: 1em;
    height: 1em;
}
.btn-primary{
    box-shadow: 0 2px 12px rgba(#000, .28);
}
.text-dark{
    color: $gray-800;
}
.fw-semibold{
    font-weight: 600;
}
/*Section*/
.content-section{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    overflow: hidden;
}
.bg-gray{
    background-color: #f4f4f4;
}
.bottom-shadow{
    box-shadow: 0 8px 8px rgba(#000, .25);
}
.fw-heading-h2.lines{
    display: flex;
    justify-content: center;
    &:before,
	&:after{
	content: '';
	height: 1px;
	margin-top: rem(24px);
	flex-grow: 1;
	background-color: $gray-800;
    }
    .fw-special-title{
	padding-left: rem(20px);
	padding-right: rem(20px);
    }
}
.fw-heading.lines{
    display: flex;
    &.text-center,
    &.text-start{
	&:after{
	    content: '';
	    height: 1px;
	    margin-top: rem(24px);
	    flex-grow: 1;
	    background-color: $gray-800;
	}
	.fw-special-title{
	    padding-right: rem(20px);
	}
    }
    &.text-center,
    &.text-end{
	&:before{
	    content: '';
	    height: 1px;
	    margin-top: rem(24px);
	    flex-grow: 1;
	    background-color: $gray-800;
	}
	.fw-special-title{
	    padding-left: rem(20px);
	}
    }
}
.footer-logo{
    text-align: center;
    padding: 2rem 0 4rem;
    .logo-link{
	display: inline-block;
	width: rem(300px);
    }
}
.footer-addresses{
    padding-top: 2rem;
}
.address{
    position: relative;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    .img-city{
	filter: grayscale(100%);
    }
    .info{
	position: absolute;
	top: 1.7rem;
	left: 0;
	right: 0;
	text-align: center;
    }
    .h5{
	color: #fff;
	margin-bottom: .5rem;
    }
    a{
	color: #fff;
	word-break: break-word;
    }
}
.virtual-events-box{
    background-color: $input-bg;
    border: $input-border-width solid $input-border-color;
    @include border-radius($input-border-radius, 0);
    display: flex;
    align-items: center;
    padding: rem(20px);
    margin-bottom: 2rem;
    .h5{
	margin-bottom: 0;
	color: $gray-800;
    }
}
/*team*/
.our-team{
    margin: 2rem auto 0;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}
.team-member{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 6px;
    margin-bottom: rem(30px);
    .inner{
	border-radius: 6px;
	box-shadow: 2px 4px 10px 0 rgba(#000, .21);
	background-color: #ffffff;
	padding: 20px 5px 3px 5px;
	text-align: center;
	img{
	    border-radius: 50%;
	    box-shadow: 2px 4px 4px 0 rgba(#000, .21);
	    margin-bottom: 1.2rem;
	}
	h4{
	    margin-bottom: 0;
	    font-size: rem(14px);
	    color: $gray-800;
	}
	.position{
	    min-height: rem(36px);
	    font-size: rem(12px);
	    margin-top: 0;
	    margin-bottom: 0;
	}
	.email{
	    margin-bottom: 7px;
	    overflow: hidden;
	}
	.email a{
	    font-weight: 700;
	    font-size: 9px;
	    text-decoration: none;
	    color: #202e37;
	}
	.division{
	    font-size: rem(14px);
	    padding: 10px 0 5px;
	    border-top: 1px solid #35c0cd;
	}
    }
}
#page-header{
    min-height: 300px;
    padding: 5rem 0 3rem;
    display: flex;
    align-items: center;
    color: #fff;
    @include font-size(rem(28px));
    h1{
	text-shadow: rem(0 0 10px) rgba(#000, .85);
    }
}
.cards-row{
    justify-content: center;
    > .col{
	display: flex;
	align-items: stretch;
	margin-bottom: 1.5rem;
	flex: 0 0 auto;
	width: 100%;
    }
}
.card{
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: $card-box-shadow;
    transition:transform .5s ease;
    &:hover{
	transform: scale(1.05);
    }
    .card-title{
	color: #202e37;
	@include font-size(rem(22px));
    }
    .card-text{
	font-size: rem(18px);
    }
    .card-img-top{
	position: relative;
	&:after{
	    content: '';
	    position: absolute;
	    z-index: 2;
	    bottom: -1px;
	    left: 50%;
	    width: 0;
	    height: 0;
	    border-style: solid;
	    border-width: 0 7px 7px 7px;
	    border-color: transparent transparent #ffffff transparent;
	    transform: translateX(-50%);
	}
    }
}
.single-header{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    min-height: rem(300px);
}
.single-content{
    font-size: 16px;
    h1, h2{
	@include font-size(rem(30px));
    }
    h3, h4{
	font-size: 18px;
    }
    a:not(.btn){
	text-decoration: underline;
    }
}
#work-header{
    min-height: 300px;
    padding: 5rem 0 2rem;
    display: flex;
    align-items: flex-end;
    position: relative;
    &:before{
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-color: rgba(#000, .3);
    }
    h1{
	font-size: vw(122px);
	margin: 0;
	opacity: .2;
	text-shadow: 0 0 10px rgba(#000, .85);
    }
}